<?xml version="1.0" encoding="UTF-8"?>
<library>
    <book id="1">
        <title>Effective Java</title>
        <author>Joshua Bloch</author>
        <year>2018</year>
        <genre>Programming</genre>
    </book>
    <book id="2">
        <title>The Pragmatic Programmer</title>
        <author>Andrew Hunt, David Thomas</author>
        <year>1999</year>
        <genre>Software Engineering</genre>
    </book>
</library>
